**/*.pyc
**/*.o
**/*.so
**/.*.swp
**/__pycache__
*egg-info
.autotools
.cproject
.depend
.idea
.mypy_cache
.project
.pydevproject
.settings
.tags
.tags1
.vscode
build
dist
cmake-build-debug
GADA/GADA
MANIFEST.in
