**/*.pyc
**/*.o
**/*.so
**/.*.swp
**/__pycache__
*egg-info
.autotools
.cproject
.depend
.idea
.mypy_cache
.project
.pydevproject
.settings
.tags
.tags1
.vscode
GADA/GADA
MANIFEST.in
build
cmake-build-debug
dist
io/AbstractMatrixFileWalkerCC
mapper/extractor/SelectRowsFromMatrixCC
mapper/CalculateColCorBetweenTwoHDF5
mapper/CalculateMedianMeanOfInputColumn
reducer/ReduceSameChromosomeAlignmentDepthFiles

